# Front end (build time) variables.
# Copy this file to ".env.local" to use it in dev environment.
# Note: back end (Cloudflare Worker) variables should be defined in wrangler.jsonc instead,
# don't put them here.

SITENAME=Send2Tg

# BOT_NAME (without "@" prefix) should be set in either here or wrangler.jsonc, but not both.
# It't recommended to set it in wrangler.jsonc instead as it's more secure.
# If it's set here, anyone can get it from web app.
# If it's set in wrangler.jsonc instead, user can only get it from "/api/start" api. Since the start api requires admin token for authorization in private mode (PUBLIC_LEVEL == 0), only admin can access it in this case.
BOT_NAME=

# PUBLIC_LEVEL:
# 0 = private (default): only admin can use the web app & bot.
# 1 = public: anyone can use the bot, but need to provide a start token that's generated dynamically in web app.
# 2 = full public: anyone can use the web app & bot, no dynamic start token needed. If START_TOKEN is set, it's used as the fixed start token.
PUBLIC_LEVEL=0

# Optional static start_token that's only used in "full public" mode (PUBLIC_LEVEL == 2).
# Note the static start token is not confidential, user just needs to get it from web app first to use bot.
# In other modes (PUBLIC_LEVEL != 2), start token is generated dynamically and this value is not used.
START_TOKEN=
